<!doctype html>
<html lang="en">
<head>
    <%- include('header') %>
</head>
<body>
<section class="container mx-auto">
    <h1>Daftar User (<%= count %>)</h1>
    <table border="1" cellpadding="8" cellspacing="0"
           style="width:100%; border-collapse: collapse;"
    >
        <thead>
        <tr class="flex border">
            <th class="text-center border-r grid place-content-center
                    w-10">No</th>
            <th class="text-center border-r grid place-content-center
                    w-40">Nama</th>
            <th class="text-center border-r grid place-content-center
                    grow">Image</th>
            <th class="text-center  grid place-content-center grow-0 px-4
            w-[200px]">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <% for (let i = 0; i < count; i++) { %>
            <tr class="border flex">
                <td class="grid place-content-center border-r text-center
                    w-10">
                    <%= i + 1 %>
                </td>
                <td class="grid place-content-center border-r text-center
                    w-40">
                    <%= users[i].name %>
                </td>
                <td class="border-r grid place-content-center p-2 grow"
                    style="text-align:center;">
                    <a href="<%= users[i].url %>" target="_blank">
                        <img src="<%= users[i].url %>" alt="<%=
                            users[i].name %>" style="max-height:
                                100px;">
                    </a>
                </td>
                <td class="grid place-content-center px-4 w-[200px]">
                    <form onsubmit="deleteImage(event, '<%= users[i].name %>')">
                        <button
                                type="submit"
                                class="bg-red-500 rounded-md text-white px-4 py-2"
                        >
                            <%- include('../trash.svg') %>
                        </button>
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>

    </table>
    <script>
        async function deleteImage(event, imageName) {
            event.preventDefault();

            console.log(imageName)

            if (confirm('Yakin ingin menghapus gambar ini?')) {
                try {
                    const response = await fetch(`/api/user/${encodeURIComponent
                    (imageName)}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    });

                    console.log({response})

                    if (response.ok) {
                        alert('Gambar berhasil dihapus!');
                        window.location.reload();
                    } else {
                        alert('Gagal menghapus gambar!');
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            }
        }
    </script>
</section>
</body>
</html>